{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
<ul class="l4al"{% if shopify_attributes %} {{ shopify_attributes }}{% endif %}>
    <li class="plain size-m">
        <i aria-hidden="true" class="icon-lock sticky"></i>
        <span class="cols cols-mobile align-middle">
            <span>{{ settings.trustbadge_text }}</span>
            {%- if settings.trustbadge_custom_image -%}
                 <img
                     data-srcset="{{ settings.trustbadge_custom_image | image_url: width: 85 }} 1x,{{ settings.trustbadge_custom_image | image_url: width: 170 }} 2x"
                     data-src="{{- settings.trustbadge_custom_image | image_url: width: 85 -}}"
                     width="85"
                     height="28"
                     alt="{{ settings.trustbadge_custom_image.alt | default: settings.trustbadge_text | escape }}"
                 >
            {%- elsif settings.trustbadge_image != 'none' -%}
                <img src="{{ 'trustbadge-' | append: settings.trustbadge_image | handleize | append: '.svg' | asset_url }}" alt="{{ settings.trustbadge_image }}" width="85" height="28">
            {%- endif -%}
        </span>
    </li>
</ul>