{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- liquid
  assign overlay = false
  assign background_color = settings.body_background_color | upcase
  assign color_palette_handle = 'palette_' | append: section.settings.color_palette
  assign color_palette = settings[color_palette_handle] | upcase
  if color_palette != background_color
    assign overlay = true
  endif

  if section.settings.title_size == 'size-50'
    assign title_classes = section.settings.title_size
    assign title_size = 'h1'
  else
    assign title_classes = false
    assign title_size = section.settings.title_size
  endif
-%}
<div class="
  m6fr
  mobile-text-center
  {{ section.settings.width }}
  size-{{ section.settings.height }}
  size-{{ section.settings.height_mobile }}-mobile
  "
  >
  <article class="palette-{{ section.settings.color_palette }}
    {{ section.settings.text_position }}
    aside
    {% unless overlay %}has-border{% endunless %}
    {% if section.settings.layout == 'left' %}inv{% endif %}
    module-color-palette
    {% if section.settings.title_size == 'size-50' %}size-18 mobile-size-14{% endif %}
    "
  >
    <figure>
      <span class="img-overlay" style="opacity:{{ section.settings.overlay_opacity | divided_by: 100.0 }}"></span>
      {%- if section.settings.image -%}
        {% if section.settings.image_mobile %}
          <picture class="mobile-only">
            {% capture srcset %}
              {% render 'image-srcset', image: section.settings.image_mobile, max_width: 940 %}
            {% endcapture %}
            {% capture sizes %}
              (min-width: 768px) 0,
              100vw
            {% endcapture %}
            {% assign alt = section.settings.image_mobile.alt | default: section.settings.title | escape %}
            {{ section.settings.image_mobile | image_url: width: 700, height: 530, crop: 'center' | image_tag: srcset: srcset, sizes: sizes, preload: true, alt: alt }}
          </picture>
        {% endif %}
        <picture{% if section.settings.image_mobile %} class="mobile-hide"{% endif %}>
          {% capture srcset %}
            {% render 'image-srcset', image: section.settings.image, max_width: 2900 %}
          {% endcapture %}
          {% capture sizes %}
            (min-width: 1000px){% if section.settings.width == 'boxed' or settings.body_width == 'boxed' %}calc(1280px / 2),{% else %}calc(100vw / 2),{% endif %}
            {% if section.settings.image_mobile %}0{% else %}100vw{% endif %}
          {% endcapture %}
          {{ section.settings.image | image_url: width: 700, height: 530, crop: 'center' | image_tag: srcset: srcset, sizes: sizes, preload: true, alt: alt }}
        </picture>
      {% else %}
        <picture>
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </picture>
      {% endif %}
      <ul class="palette-white module-color-palette l4hs">
        {%- for block in section.blocks -%}
          <li style="
              --horizontal: {{ block.settings.position_left }}%;
              --vertical: {{ block.settings.position_top }}%;
              --horizontal_mobile: {{ block.settings.position_left_mobile }}%;
              --vertical_mobile: {{ block.settings.position_top_mobile }}%;
              "
          {{ block.shopify_attributes }}>
            <a class="toggle desktop-only" href="./">{{ 'general.read_more.read_more' | t }}</a>
            {%- if block.settings.product != blank -%}
              <a class="toggle desktop-hide" href="{{ block.settings.product.url }}" data-quickshop>{{ 'general.read_more.read_more' | t }}</a>
            {%- else -%}
              <a class="toggle desktop-hide" href="./" data-panel="hotspot-{{ section.id }}-{{ forloop.index }}">{{ 'general.read_more.read_more' | t }}</a>
            {%- endif -%}
            <div class="{{ block.settings.text_position }}{% if block.settings.product != blank %} desktop-only{% endif %}">
              {%- if block.settings.product != blank -%}
                {%- render 'product-item', product: block.settings.product, enable_quick_buy_desktop: true, enable_quick_buy_mobile: true, enable_quick_buy_qty_selector: true, enable_color_picker: true, layout: 'hotspot' -%}
              {%- else -%}
                <h3>{{ block.settings.title }}</h3>
                <div class="info">
                  {{ block.settings.text }}
                </div>
              {%- endif -%}
            </div>
          </li>
          {%- if block.settings.product == blank -%}
            <aside class="m6pn" id="hotspot-{{ section.id }}-{{ forloop.index }}" aria-hidden="true">
              <h2>{{ block.settings.title }}</h2>
              {{ block.settings.text }}
            </aside>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </figure>
    {%- if section.settings.title -%}
      <{{ title_size }} class="{% if title_classes %}{{ title_classes }} {% endif %} {{ section.settings.title_size_mobile }}">
        {{ section.settings.title }}
      </{{ title_size }}>
    {% endif %}
    {%- if section.settings.text -%}{{ section.settings.text }}{%- endif -%}
    {%- if section.settings.link_text != empty and section.settings.link_url != blank -%}
      <p class="link{% unless section.settings.show_link %}-btn{% endunless %} button-palette-{{ section.settings.button_color_palette }}">
        <a href="{{ section.settings.link_url }}"{% if section.settings.show_link %} class="strong"{% endif %}>{{ section.settings.link_text }}{% if section.settings.show_link %}&nbsp;<i aria-hidden="true" class="icon-chevron-right"></i>{% endif %}</a>
      </p>
    {%- endif -%}
  </article>
</div>
<script>
  var hotspot_panels = document.querySelectorAll('#shopify-section-{{ section.id }} .m6pn');
  if (hotspot_panels.length) {
    Array.from(hotspot_panels).forEach(function (el) {
      document.querySelector('#root').appendChild(el);
    })
  }
</script>

<style>
  #shopify-section-{{ section.id }} .l4hs { --fg: var(--{{ section.settings.hotspot_color_palette }}_fg); --bg: var(--{{ section.settings.hotspot_color_palette }}_bg); --fg_active: var(--{{ section.settings.hotspot_hover_color_palette }}_fg); --bg_active: var(--{{ section.settings.hotspot_hover_color_palette }}_bg); --hs_size: {{ section.settings.hotspot_height }}px; }
  #shopify-section-{{ section.id }} .m6fr { margin-bottom: {{ section.settings.spacing_desktop }}px; }
  @media only screen and (min-width: 47.5em) {
    {% if section.settings.enable_custom_height %}
      #shopify-section-{{ section.id }} .m6fr article {
        min-height: {{ section.settings.custom_height }}px;
      }
    {% endif %}
  }
  @media only screen and (max-width: 47.5em) {
    #shopify-section-{{ section.id }} .m6fr > article { margin-bottom: 0; }
    #shopify-section-{{ section.id }} .m6fr { margin-bottom: {{ section.settings.spacing_mobile }}px; }
  }
</style>

{% schema %}
{
  "name": "t:sections.image_hotspots.name",
  "max_blocks": 5,
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "t:sections.image_hotspots.settings.image.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:sections.image_hotspots.settings.overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 0
    },
    {
      "type": "select",
      "id": "color_palette",
      "label": "t:sections.image_hotspots.settings.color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:sections.image_hotspots.settings.color_palette.options__1.label"
        },
        {
          "value": "black",
          "label": "t:sections.image_hotspots.settings.color_palette.options__2.label"
        },
        {
          "value": "light",
          "label": "t:sections.image_hotspots.settings.color_palette.options__3.label"
        },
        {
          "value": "dark",
          "label": "t:sections.image_hotspots.settings.color_palette.options__4.label"
        },
        {
          "value": "accent",
          "label": "t:sections.image_hotspots.settings.color_palette.options__5.label"
        },
        {
          "value": "light_2",
          "label": "t:sections.image_hotspots.settings.color_palette.options__6.label"
        },
        {
          "value": "light_gradient",
          "label": "t:sections.image_hotspots.settings.color_palette.options__7.label"
        },
        {
          "value": "dark_gradient",
          "label": "t:sections.image_hotspots.settings.color_palette.options__8.label"
        }
      ],
      "default": "black"
    },
    {
      "type": "select",
      "id": "button_color_palette",
      "label": "t:sections.image_hotspots.settings.button_color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:sections.image_hotspots.settings.button_color_palette.options__1.label"
        },
        {
          "value": "black",
          "label": "t:sections.image_hotspots.settings.button_color_palette.options__2.label"
        },
        {
          "value": "light",
          "label": "t:sections.image_hotspots.settings.button_color_palette.options__3.label"
        },
        {
          "value": "dark",
          "label": "t:sections.image_hotspots.settings.button_color_palette.options__4.label"
        },
        {
          "value": "accent",
          "label": "t:sections.image_hotspots.settings.button_color_palette.options__5.label"
        },
        {
          "value": "light_2",
          "label": "t:sections.image_hotspots.settings.button_color_palette.options__6.label"
        }
      ],
      "default": "accent"
    },
    {
      "type": "range",
      "id": "hotspot_height",
      "label": "t:sections.image_hotspots.settings.hotspot_height.label",
      "min": 20,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 33
    },
    {
      "type": "select",
      "id": "hotspot_color_palette",
      "label": "t:sections.image_hotspots.settings.hotspot_color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:sections.image_hotspots.settings.hotspot_color_palette.options__1.label"
        },
        {
          "value": "black",
          "label": "t:sections.image_hotspots.settings.hotspot_color_palette.options__2.label"
        },
        {
          "value": "light",
          "label": "t:sections.image_hotspots.settings.hotspot_color_palette.options__3.label"
        },
        {
          "value": "dark",
          "label": "t:sections.image_hotspots.settings.hotspot_color_palette.options__4.label"
        },
        {
          "value": "accent",
          "label": "t:sections.image_hotspots.settings.hotspot_color_palette.options__5.label"
        },
        {
          "value": "light_2",
          "label": "t:sections.image_hotspots.settings.hotspot_color_palette.options__6.label"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "hotspot_hover_color_palette",
      "label": "t:sections.image_hotspots.settings.hotspot_hover_color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:sections.image_hotspots.settings.hotspot_hover_color_palette.options__1.label"
        },
        {
          "value": "black",
          "label": "t:sections.image_hotspots.settings.hotspot_hover_color_palette.options__2.label"
        },
        {
          "value": "light",
          "label": "t:sections.image_hotspots.settings.hotspot_hover_color_palette.options__3.label"
        },
        {
          "value": "dark",
          "label": "t:sections.image_hotspots.settings.hotspot_hover_color_palette.options__4.label"
        },
        {
          "value": "accent",
          "label": "t:sections.image_hotspots.settings.hotspot_hover_color_palette.options__5.label"
        },
        {
          "value": "light_2",
          "label": "t:sections.image_hotspots.settings.hotspot_hover_color_palette.options__6.label"
        }
      ],
      "default": "black"
    },
    {
      "id": "layout",
      "type": "select",
      "label": "t:sections.image_hotspots.settings.layout.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image_hotspots.settings.layout.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.image_hotspots.settings.layout.options__2.label"
        }
      ],
      "default": "right"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:sections.image_hotspots.settings.height.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.image_hotspots.settings.height.options__1.label"
        },
        {
          "value": "s",
          "label": "t:sections.image_hotspots.settings.height.options__2.label"
        },
        {
          "value": "m",
          "label": "t:sections.image_hotspots.settings.height.options__3.label"
        },
        {
          "value": "l",
          "label": "t:sections.image_hotspots.settings.height.options__4.label"
        }
      ],
      "default": "m"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.image_hotspots.settings.width.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:sections.image_hotspots.settings.width.options__1.label"
        },
        {
          "value": "wide",
          "label": "t:sections.image_hotspots.settings.width.options__2.label"
        }
      ],
      "default": "wide"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_height",
      "label": "t:sections.image_hotspots.settings.enable_custom_height.label"
    },
    {
      "type": "range",
      "id": "custom_height",
      "label": "t:sections.image_hotspots.settings.custom_height.label",
      "info": "t:sections.image_hotspots.settings.custom_height.info",
      "min": 250,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "default": 300
    },
    {
      "type": "header",
      "content": "t:sections.image_hotspots.settings.content.header"
    },
    {
      "id": "text_position",
      "type": "select",
      "label": "t:sections.image_hotspots.settings.text_position.label",
      "options": [
        {
          "value": "align-top text-start",
          "label": "t:sections.image_hotspots.settings.text_position.options__1.label"
        },
        {
          "value": "align-top text-center",
          "label": "t:sections.image_hotspots.settings.text_position.options__2.label"
        },
        {
          "value": "align-top text-end",
          "label": "t:sections.image_hotspots.settings.text_position.options__3.label"
        },
        {
          "value": "text-start",
          "label": "t:sections.image_hotspots.settings.text_position.options__4.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.image_hotspots.settings.text_position.options__5.label"
        },
        {
          "value": "text-end",
          "label": "t:sections.image_hotspots.settings.text_position.options__6.label"
        },
        {
          "value": "align-bottom text-start",
          "label": "t:sections.image_hotspots.settings.text_position.options__7.label"
        },
        {
          "value": "align-bottom text-center",
          "label": "t:sections.image_hotspots.settings.text_position.options__8.label"
        },
        {
          "value": "align-bottom text-end",
          "label": "t:sections.image_hotspots.settings.text_position.options__9.label"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "t:sections.image_hotspots.settings.title_size.label",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.image_hotspots.settings.title_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.image_hotspots.settings.title_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.image_hotspots.settings.title_size.options__3.label"
        },
        {
          "value": "size-50",
          "label": "t:sections.image_hotspots.settings.title_size.options__4.label"
        }
      ],
      "default": "h1"
    },
    {
      "id": "title",
      "type": "text",
      "label": "t:sections.image_hotspots.settings.title.label",
      "default": "Image hotspot banner"
    },
    {
      "id": "text",
      "type": "richtext",
      "label": "t:sections.image_hotspots.settings.text.label",
      "default": "<p>Highlight a new collection and share details about products related to this image</p>"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "t:sections.image_hotspots.settings.link_text.label",
      "info": "t:sections.image_hotspots.settings.link_text.info",
      "default": "Button"
    },
    {
      "id": "link_url",
      "type": "url",
      "label": "t:sections.image_hotspots.settings.link_url.label",
      "default": "/collections/all"
    },
    {
      "id": "show_link",
      "type": "checkbox",
      "label": "t:sections.image_hotspots.settings.show_link.label"
    },
    {
      "type": "header",
      "content": "t:sections.image_hotspots.settings.mobile.header"
    },
    {
      "id": "image_mobile",
      "type": "image_picker",
      "label": "t:sections.image_hotspots.settings.mobile.image_mobile.label"
    },
    {
      "type": "select",
      "id": "height_mobile",
      "label": "t:sections.image_hotspots.settings.mobile.height_mobile.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.image_hotspots.settings.mobile.height_mobile.options__1.label"
        },
        {
          "value": "s",
          "label": "t:sections.image_hotspots.settings.mobile.height_mobile.options__2.label"
        },
        {
          "value": "m",
          "label": "t:sections.image_hotspots.settings.mobile.height_mobile.options__3.label"
        },
        {
          "value": "l",
          "label": "t:sections.image_hotspots.settings.mobile.height_mobile.options__4.label"
        }
      ],
      "default": "m"
    },
    {
      "type": "select",
      "id": "title_size_mobile",
      "label": "t:sections.image_hotspots.settings.mobile.title_size_mobile.label",
      "options": [
        {
          "value": "mobile-size-16",
          "label": "t:sections.image_hotspots.settings.mobile.title_size_mobile.options__1.label"
        },
        {
          "value": "mobile-size-18",
          "label": "t:sections.image_hotspots.settings.mobile.title_size_mobile.options__2.label"
        },
        {
          "value": "mobile-size-22",
          "label": "t:sections.image_hotspots.settings.mobile.title_size_mobile.options__3.label"
        },
        {
          "value": "mobile-size-26",
          "label": "t:sections.image_hotspots.settings.mobile.title_size_mobile.options__4.label"
        }
      ],
      "default": "mobile-size-18"
    },
    {
      "type": "header",
      "content": "t:sections.image_hotspots.settings.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:sections.image_hotspots.settings.spacing.spacing_desktop.label",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:sections.image_hotspots.settings.spacing.spacing_mobile.label",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "hotspot",
      "name": "t:sections.image_hotspots.blocks.hotspot.name",
      "settings": [
        {
          "id": "product",
          "type": "product",
          "label": "t:sections.image_hotspots.blocks.hotspot.settings.product.label",
          "info": "t:sections.image_hotspots.blocks.hotspot.settings.product.info"
        },
        {
          "type": "header",
          "content": "t:sections.image_hotspots.blocks.hotspot.settings.content.header"
        },
        {
          "type": "paragraph",
          "content": "t:sections.image_hotspots.blocks.hotspot.settings.content.paragraph"
        },
        {
          "id": "text_position",
          "type": "select",
          "label": "t:sections.image_hotspots.blocks.hotspot.settings.content.text_position.label",
          "options": [
            {
              "value": "text-start",
              "label": "t:sections.image_hotspots.blocks.hotspot.settings.content.text_position.options__1.label"
            },
            {
              "value": "text-center",
              "label": "t:sections.image_hotspots.blocks.hotspot.settings.content.text_position.options__2.label"
            },
            {
              "value": "text-end",
              "label": "t:sections.image_hotspots.blocks.hotspot.settings.content.text_position.options__3.label"
            }
          ],
          "default": "text-start"
        },
        {
          "id": "title",
          "type": "text",
          "label": "t:sections.image_hotspots.blocks.hotspot.settings.content.title.label",
          "default": "Image hotspot"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.image_hotspots.blocks.hotspot.settings.content.text.label",
          "default": "<p>Highlight a new collection and share details about products related to this image</p>"
        },
        {
          "type": "header",
          "content": "t:sections.image_hotspots.blocks.hotspot.settings.position.header"
        },
        {
          "id": "position_left",
          "type": "range",
          "label": "t:sections.image_hotspots.blocks.hotspot.settings.position.position_left.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "id": "position_top",
          "type": "range",
          "label": "t:sections.image_hotspots.blocks.hotspot.settings.position.position_top.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        },
        {
          "id": "position_left_mobile",
          "type": "range",
          "label": "t:sections.image_hotspots.blocks.hotspot.settings.position.position_left_mobile.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "id": "position_top_mobile",
          "type": "range",
          "label": "t:sections.image_hotspots.blocks.hotspot.settings.position.position_top_mobile.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_hotspots.presets.name",
      "settings": {
      },
      "blocks": [
        {
          "type": "hotspot",
          "settings": {
            "position_left": 70,
            "position_top": 20,
            "position_left_mobile": 70,
            "position_top_mobile": 20
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "position_left": 30,
            "position_top": 50,
            "position_left_mobile": 30,
            "position_top_mobile": 50
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "position_left": 50,
            "position_top": 70,
            "position_left_mobile": 50,
            "position_top_mobile": 70
          }
        }
      ]
    }
  ]
}
{% endschema %}
