{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
  {%- liquid
  assign product = section.settings.product
  if product == empty
    assign vendor = "Vendor name"
    assign title =  "Product title"
    assign price =  0 | money
  else
    assign vendor = product.vendor
    assign title = product.title
    assign price = product.selected_or_first_available_variant.price | money
  endif
  assign product_image_ratio = settings.product_image_ratio
  case product_image_ratio
    when '310x430'
      assign image_ratio =  "portrait"
      assign image_width =  310
      assign image_height = 430
    when '430x310'
      assign image_ratio =  "landscape"
      assign image_width =  430
      assign image_height = 310
    else
      assign image_ratio =  "square"
      assign image_width =  430
      assign image_height = 430
  endcase
  assign image_width_small = image_width | divided_by: 3
  assign image_height_small = image_height | divided_by: 3

  assign current_variant = product.selected_or_first_available_variant
  assign featured_media_position = current_variant.featured_media.position
  assign variant_selection_block = section.blocks | where: "type", "variant_selection"
  assign title_block = section.blocks | where: "type", "title" | first
  assign first_block = section.blocks | first
  assign share_whatsapp = title_block.settings.share_whatsapp
  assign share_facebook = title_block.settings.share_facebook
  assign share_twitter = title_block.settings.share_twitter
  assign share_pinterest = title_block.settings.share_pinterest
  assign share_messenger = title_block.settings.share_messenger
  assign share_email = title_block.settings.share_email
  assign sharing_product = product.current_variant | default: product

  if title_block.settings.title_size == 'size-50'
    assign title_classes = title_block.settings.title_size | append: ' mobile-size-' | append: settings.mobile_font_size | remove: 'px'
    assign title_size = 'h1'
  else
    assign title_classes = false
    assign title_size = title_block.settings.title_size
  endif

  assign main_width = 700 | minus: 38 | minus: 38
  if section.settings.images_layout == 'aside'
    assign main_width = main_width | minus: 54
  endif
  assign sizes = '(min-width: 1000px) ' | append: main_width | append: 'px, 100vw'

-%}

{%- capture header -%}
  <header {{ title_block.shopify_attributes }} class="class-x">
    <{{ title_size }} class="{% if title_classes %}{{ title_classes }}{% endif %} m5{% if settings.product_titles_caps %} text-uppercase{% endif %}"><a href="{{ product.url }}">{{ title }}</a></{{ title_size }}>
    <ul class="l4dr m15">
      {%- if product.metafields.reviews.rating and title_block.settings.show_product_rating -%}
        <li class="overlay-gray">
          <a href="#section-reviews" class="r6rt" data-val="{{ product.metafields.reviews.rating.value }}" data-of="5">
            {%- if product.metafields.reviews.rating_count -%}{{ product.metafields.reviews.rating_count }} <span>{{ 'product.reviews.count' | t: count: product.metafields.reviews.rating_count }}</span>{%- endif -%}
          </a>
        </li>
      {%- endif -%}
      {%- if title_block.settings.show_vendor_brand or title_block.settings.show_vendor_name -%}
        {%- if product.vendor != "vendor-unknown" and product.vendor != shop.name -%}
          <li>{%- if title_block.settings.show_vendor_brand %}<span class="strong">{{ 'product.vendor' | t }}</span>{%- endif -%}
            {%- liquid
              assign vendor_handle = product.vendor | handleize
              assign vendor_collection = collections[vendor_handle]
            -%}
            {%- if vendor_collection != blank and title_block.settings.show_vendor_name -%}<a href="{{ vendor_collection.url }}">{{ vendor }}</a>{%- elsif title_block.settings.show_vendor_name -%}{{ vendor }}{%- endif -%}
          </li>
        {%- endif -%}
      {%- endif -%}
      {%- if share_whatsapp or share_facebook or share_twitter or share_pinterest or share_messenger or share_email -%}
        <li class="has-social">
          <a href="./" class="toggle"><i aria-hidden="true" class="icon-share"></i> <span class="mobile-hide">{{ 'social_share.share_this_product' | t }}</span></a>
          <ul class="l4sc box">
            {%- render 'social-share-buttons', share: sharing_product, share_whatsapp: share_whatsapp, share_facebook: share_facebook, share_twitter: share_twitter, share_pinterest: share_pinterest, share_messenger: share_messenger, share_email: share_email -%}
          </ul>
        </li>
      {%- endif -%}
    </ul>
  </header>
{%- endcapture -%}

<article class="m6pr m6pr-{{ section.id }}">
  {%- if title_block.settings.layout == 'title-right' and title_block.settings.layout_mobile == 'title-top' -%}
    {{ header | replace: 'class-x', 'mobile-only' }}
  {%- elsif title_block.settings.layout == 'title-top' and title_block.settings.layout_mobile == 'title-bottom' -%}
    {{ header | replace: 'class-x', 'mobile-hide' }}
  {%- elsif title_block.settings.layout == 'title-top' and title_block.settings.layout_mobile == 'title-top' %}
    {{ header | replace: 'class-x', '' }}
  {%- endif -%}
  <div class="l4pr-container">
    <ul class="l4pr
       {% if section.settings.show_thumbs_desktop == false %}no-thumbs-desktop{% endif %}{% if section.settings.show_thumbs_mobile == false %} no-thumbs-mobile{% endif %}
      {% if section.settings.images_layout == 'aside' %}aside-pager{% endif %}
      no-scrollbar
      "
      data-featured_media_position={{ featured_media_position }}>
      {%- if product.media.size == 0 or product == blank -%}
        <li>
          <picture>
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </picture>
        </li>
      {%- endif -%}
      {%- for media in product.media -%}
        <li class="{% if settings.fill_product_images %} cover{% endif %}">
          <a data-fancybox="product-gallery-{{ product.id }}"
                  {% if media.media_type == 'image' %}
                    href="{{ media | image_url }}"
                  {% elsif media.media_type == 'external_video' %}
                    href="{{ media | external_video_url }}"
                  {% elsif media.media_type == 'video' %}
                      {%- liquid
                          assign source = media.sources | where: "height", 1080 | where: "format", "mp4" | first
                          if source == nil
                              assign source = media.sources | where: "format", "mp4" | first
                          endif
                          if source == nil
                              assign source = media.sources | where: "format", "mov" | first
                          endif
                          if source == nil
                              assign source = media.sources.first
                          endif
                      -%}
                      href="{{ source.url }}"
                  {% elsif media.media_type == 'model' %}
                    href="#model-3d-{{ forloop.index }}"
                  {% endif %}
             data-gallery-thumb="
            {% if settings.fill_product_images %}
              {{ media.preview_image | image_url: width: image_width_small, height: image_height_small, crop: 'center' }}
            {% else %}
              {{ media.preview_image | image_url: width: image_width_small }}
            {% endif %}
          "
          >
            {%- if forloop.first -%}
              {%- render 'product-labels' -%}
            {%- endif -%}
            <picture {% if settings.multiply_product_images %}class="img-multiply"{% endif %}>
              {% if media.image %}
                {% capture srcset %}
                  {%- liquid
                    if settings.fill_product_images
                      render 'image-srcset', image: media, format: image_ratio, crop: 'center'
                    else
                      render 'image-srcset', image: media, format: image_ratio
                    endif
                  -%}
                {% endcapture %}
                {%- if forloop.first -%}
                  {{ media | image_url: width: image_width, height: image_height, crop: 'center' | image_tag: srcset: srcset, sizes: sizes, preload: true }}
                {%- else -%}
                  {{ media | image_url: width: image_width, height: image_height, crop: 'center' | image_tag: srcset: srcset, sizes: sizes, loading: 'lazy' }}
                {%- endif -%}
              {%- else -%}
                {%- if forloop.first -%}
                  {{ media.preview_image | image_url: width: image_width, height: image_height, crop: 'center' | image_tag: sizes: sizes, preload: true }}
                {%- else -%}
                  {{ media.preview_image | image_url: width: image_width, height: image_height, crop: 'center' | image_tag: sizes: sizes, loading: 'lazy' }}
                {%- endif -%}
              {%- endif -%}
              {%- if media.media_type == 'external_video' or media.media_type == 'video' -%}
                <i aria-hidden="true" class="icon-play"></i>
              {%- elsif media.media_type == 'model' -%}
                <span id="model-3d-{{ forloop.index }}" class="model-3d">
                {{ media | model_viewer_tag: shadow-intensity: "1" }}
                <button
                        data-shopify-xr
                        data-shopify-model3d-id="{{ media.id }}"
                        data-shopify-title="{{ product.title | escape }}"
                        data-shopify-xr-hidden
                ><i aria-hidden="true" class="icon-cube"></i> {{ 'product.view_in_your_space' | t }}</button>
              </span>
                <i aria-hidden="true" class="icon-cube"></i>
              {%- endif -%}
            </picture>
          </a>
          {%- if media.media_type == 'model' -%}
            <button
                    data-shopify-xr
                    data-shopify-model3d-id="{{ media.id }}"
                    data-shopify-title="{{ product.title | escape }}"
                    data-shopify-xr-hidden
            ><i aria-hidden="true" class="icon-cube"></i> {{ 'product.view_in_your_space' | t }}</button>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </div>
    {%- assign has_model = product.media | where: "media_type", "model" | first -%}
    {%- if has_model -%}
      <script type="application/json" id="ProductJSON-{{ product.id }}">
        {{ product.media | where: 'media_type', 'model' | json }}
      </script>
    {%- endif -%}
  <div>
      {%- liquid
          if first_block == title_block
              if title_block.settings.layout == 'title-right'
                  if title_block.settings.layout_mobile == 'title-top'
                      echo header | replace: 'class-x', 'mobile-hide'
                  else
                      echo header | replace: 'class-x', ''
                  endif
              elsif title_block.settings.layout_mobile == 'title-bottom'
                  echo header | replace: 'class-x', 'mobile-only'
              endif
          endif

          assign form_class = 'f8pr f8pr-buy-button'
          assign form_id = 'main-featured-product-form-' | append: section.id
      -%}
      {% if product != empty %}
    <div class="f8pr">
        <legend>{{ 'product.form.title' | t }}</legend>
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'spacer' -%}
          <div class="module-spacer" style="margin-bottom:{{ block.settings.height }}px;" {{ block.shopify_attributes }}></div>
        {%- when 'custom_liquid' -%}
          {{ block.settings.custom_liquid }}
        {%- when 'custom_html' -%}
            {{ block.settings.custom_html }}
        {%- when 'title' -%}
          {%- if forloop.first == false -%}
            {%- if title_block.settings.layout == 'title-right' -%}
              {%- if title_block.settings.layout_mobile == 'title-top' %}
                {{ header | replace: 'class-x', 'mobile-hide' }}
              {%- else -%}
                {{ header | replace: 'class-x', '' }}
              {%- endif -%}
            {%- elsif title_block.settings.layout_mobile == 'title-bottom' -%}
              {{ header | replace: 'class-x', 'mobile-only' }}
            {%- endif -%}
          {%- endif -%}
        {%- when 'text' -%}
          <span {{ block.shopify_attributes }}>{{ block.settings.text }}</span>
        {%- when 'short_description' -%}
          {%- if settings.product_short_description != 'none' %}
            {%- liquid
              if settings.product_short_description == 'custom'
                assign product_short_description_namespace = settings.product_short_description_text | split: '.' | first
                assign product_short_description_key = settings.product_short_description_text | split: '.' | last
                assign short_description = product.metafields[product_short_description_namespace][product_short_description_key]
                assign custom_short_description = true
              else
                assign short_description = product.description | strip_html | truncatewords: 20
              endif
            -%}
            {%- if short_description != empty and short_description != nil -%}
              <p class="m15 mobile-hide" {{ block.shopify_attributes }}>
                {{ short_description }}
              </p>
            {%- endif -%}
          {%- endif -%}
        {%- when 'variant_selection' -%}
          {%- liquid
            assign triggers = settings.color_swatch_name | newline_to_br | strip_newlines | replace: '<br />', ',' | split: ','
            assign pick_up_availabilities = current_variant.store_availabilities | where: 'pick_up_enabled', true
            assign pickup_available = false
            if pick_up_availabilities.size > 0
              for pick_up_location in pick_up_availabilities
                if pick_up_location.available
                  assign pickup_available = true
                  break
                endif
              endfor
            endif
          -%}
          <div class="f8pr-variant-selection no-zindex" {{ block.shopify_attributes }}>
            {%- if product.has_only_default_variant or product.variants.size == 1 -%}
              <input name="id" id="id-{{ section.id }}" value="{{ current_variant.id }}" type="hidden" form="{{ form_id }}">
            {%- endif -%}
            {%- if product.variants.size > 1 or pickup_available -%}
              {%- liquid
                assign enable_options = false
                assign is_color = false
                if block.settings.options or product.options.size == 1
                  if product.options.size > 1
                    assign enable_options = true
                  endif
                  if settings.enable_color_swatches and triggers contains product.options.first
                    assign is_color = true
                  endif
                endif
              -%}
              {% if block.settings.selection_type == 'dropdown' %}<p {% if enable_options %}class="js-hidden"{% endif %}>{% endif %}
              <label {% if block.settings.selection-type == 'dropdown' %}for="id"{% endif %}{% if enable_options %} class="js-hidden"{% endif %}>
                {%- unless product.has_only_default_variant -%}
                  {{ product.options.first }}{% if is_color and block.settings.selection_type == 'buttons' %}<span class="data-change-to-{{ section.id }}">{{ current_variant.title }}</span>{% endif %}
                {%- endunless -%}
                  <span id="f8pr-pickup-1" class="f8pr-pickup pickup{% if product.variants.size > 1 %} text-end{% endif %}{% unless pickup_available %} hidden{% endunless %}"><span class="mobile-hide"><i aria-hidden="true" class="icon-pin"></i>{{ 'product.pickup_availability.free_pickup' | t }} <a href="#pickup-availability" data-panel="pickup-availability" data-id="{{ current_variant.id }}">{{ 'product.pickup_availability.our_stores' | t }} </a></span></span>
              </label>
              {%- if product.has_only_default_variant == false and product.variants.size > 1 -%}
                {%- liquid
                  assign variants_with_images = product.variants | where: "image"
                  assign show_images = true
                  if is_color
                      if product.variants.size != variants_with_images.size or block.settings.show_variant_images == false
                        assign show_images = false
                      endif
                  endif
                -%}
                {%- if block.settings.selection_type == 'dropdown' or enable_options -%}
                  <select name="id" id="id-{{ section.id }}" data-url="{{ product.url }}" data-template="{{ section.id }}" required {% if enable_options %}class="js-hidden"{% endif %} form="{{ form_id }}">
                    {%- for variant in product.variants -%}
                      {% if block.settings.show_unavailable_variants == false and variant.available == false %}{% continue %}{% endif %}
                      <option
                              value="{{ variant.id }}"
                        {% unless variant.available %}data-class="disabled"{% endunless %}
                        {% if variant == current_variant %}selected{% endif %}
                        {% if enable_options %}data-options='{"id":{{ variant.id }},"options":{{ variant.options | json | escape }}}'{% endif %}
                              {% if variant.image and block.settings.show_variant_images and show_images %}
                                data-img="{{ variant.image | image_url: width: image_width_small, height: image_height_small }}"
                              {% elsif is_color %}
                                data-color="{{ variant.title | split: ' ' | last }}" data-color-class="swatch-custom-color-{{ variant.title | handleize }}"
                              {% endif %}
                      >{{ variant.title }}</option>
                    {%- endfor -%}
                  </select>
                {%- else -%}
                  <ul class="check {% if show_images and block.settings.show_variant_images %}box{% elsif is_color %}color{% else %}box{% endif %}{% if enable_options %} js-hidden{% endif %}">
                    {%- for variant in product.variants -%}
                      {% if block.settings.show_unavailable_variants == false and variant.available == false %}{% continue %}{% endif %}
                      <li>
                        <input type="radio"
                               id="option-{{ variant.id }}-{{ section.id }}"
                               value="{{ variant.id }}"
                               name="id"
                               title="{{ variant.title }}"
                               {% if variant == current_variant %}checked{% endif %}
                          {% unless variant.available %}disabled{% endunless %}
                               data-url="{{ product.url }}"
                               data-template="{{ section.id }}"
                          {% if enable_options %}data-options='{"id":{{ variant.id }},"options":{{ variant.options | json | escape }}}'{% endif %}
                          {% if is_color %}data-change=".data-change-to-{{ section.id }}"{% endif %}
                               form="{{ form_id }}"
                        >
                        <label for="option-{{ variant.id }}-{{ section.id }}">
                          {% if variant.image and block.settings.show_variant_images and show_images %}
                            <picture>
                              <img class="no-pl-px" data-src="{{ variant.image | image_url: width: image_width_small, height: image_height_small }}" alt="{{ variant.title }}" width="30" height="23">
                            </picture>
                          {% elsif is_color %}
                            <i aria-hidden="true" class="icon-circle swatch-custom-color-{{ variant.title | handleize }}" style="background-color: {{ variant.title | split: ' ' | last }};"></i>
                          {% endif %}
                          {% unless is_color %}<span>{{ variant.title }}</span>{% endunless %}
                        </label>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- endif -%}
                <span id="f8pr-pickup-2" class="f8pr-pickup pickup mobile-only size-12{% unless pickup_available %} hidden{% endunless %}"><i aria-hidden="true" class="icon-pin"></i> {{ 'product.pickup_availability.free_pickup' | t }} <a href="#pickup-availability" data-panel="pickup-availability" data-id="{{ current_variant.id }}">{{ 'product.pickup_availability.our_stores' | t }} </a></span>
                {% if enable_options %}
                {% if block.settings.selection_type == 'dropdown' %}
                  {%- for option in product.options_with_values -%}
                    {%- liquid
                      if settings.enable_color_swatches and triggers contains option.name
                        assign is_color = true
                      else
                        assign is_color = false
                      endif
                        if triggers contains option.name and block.settings.show_variant_images and product.variants.size == variants_with_images.size
                            assign option_int = 'option' | append: forloop.index
                        else
                            assign option_int = false
                        endif
                    -%}
                    <p class="no-js-hidden">
                      <label for="option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                         <span id="f8pr-pickup-3" class="f8pr-pickup pickup{% if product.variants.size > 1 %} text-end{% endif %}{% if pickup_available and forloop.first %}{% else %} hidden{% endif %}"><span class="mobile-hide"><i aria-hidden="true" class="icon-pin"></i>{{ 'product.pickup_availability.free_pickup' | t }} <a href="#pickup-availability" data-panel="pickup-availability" data-id="{{ current_variant.id }}">{{ 'product.pickup_availability.our_stores' | t }} </a></span></span>
                      </label>
                      <select id="option-{{ section.id }}-{{ forloop.index0 }}"
                              name="options[{{ section.id }}-{{ option.name | escape }}]"
                              data-template="{{ section.id }}"
                              required
                      >
                        {%- for value in option.values -%}
                            <option value="{{ value | escape }}"
                                    {% if option_int %}
                                        {% assign option_variant = product.variants | where: option_int, value | first -%}
                                        data-img="{{ option_variant.image | image_url: width: image_width_small, height: image_height_small }}"
                                    {% elsif is_color %}
                                        data-color="{{ value | split: ' ' | last }}" data-color-class="swatch-custom-color-{{ value | handleize }}"
                                    {% endif %}
                                {% if option.selected_value == value %}selected{% endif %}>
                                {{ value }}
                            </option>
                        {%- endfor -%}
                      </select>
                    </p>
                  {%- endfor -%}
                {% else %}
                    {%- for option in product.options_with_values -%}
                        {%- liquid
                            assign is_color = false
                            if settings.enable_color_swatches and triggers contains option.name
                                assign is_color = true
                            endif
                            if triggers contains option.name and block.settings.show_variant_images and product.variants.size == variants_with_images.size
                                assign option_int = 'option' | append: forloop.index
                            else
                                assign option_int = false
                            endif
                        -%}
                        <label for="option-{{ section.id }}-{{ forloop.index0 }}" class="no-js-hidden">
                            {{ option.name }}{% if is_color %}<span class="data-change-to-option-{{ section.id }}-{{ forloop.index0 }}">{{ option.selected_value }}</span>{% endif %}
                            <span id="f8pr-pickup-4" class="f8pr-pickup pickup{% if product.variants.size > 1 %} text-end{% endif %}{% if pickup_available and forloop.first %}{% else %} hidden{% endif %}"><span class="mobile-hide"><i aria-hidden="true" class="icon-pin"></i>{{ 'product.pickup_availability.free_pickup' | t }} <a href="#pickup-availability" data-panel="pickup-availability" data-id="{{ current_variant.id }}">{{ 'product.pickup_availability.our_stores' | t }} </a></span></span>
                        </label>
                        <ul class="check {% if show_images == false and is_color %}color{% else %}box{% endif %}" class="no-js-hidden">
                            {%- for value in option.values -%}
                                <li>
                                    <input type="radio"
                                           id="option-{{ section.id }}-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}"
                                           value="{{ value | escape }}"
                                           name="options[{{ section.id }}-{{ option.name | escape }}]"
                                           title="{{ value }}"
                                           {% if option.selected_value == value %}checked{% endif %}
                                           data-url="{{ product.url }}"
                                           data-template="{{ section.id }}"
                                        {% if is_color %}data-change=".data-change-to-option-{{ section.id }}-{{ forloop.parentloop.index0 }}"{% endif %}
                                           form="{{ form_id }}"
                                    >
                                    <label for="option-{{ section.id }}-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}">
                                        {% if option_int -%}
                                            {% assign option_variant = product.variants | where: option_int, value | first -%}
                                            <picture>
                                                <img class="no-pl-px" data-src="{{ option_variant.image | image_url: width: image_width_small, height: image_height_small }}" alt="{{ value }}" width="30" height="23">
                                            </picture>
                                            {% unless is_color %}
                                                <span>{{ value }}</span>
                                            {% endunless %}
                                        {% elsif is_color %}
                                            <i aria-hidden="true" class="icon-circle swatch-custom-color-{{ value | handleize }}" style="background-color: {{ value | split: ' ' | last }};"></i>
                                        {% else %}
                                            <span>{{ value }}</span>
                                        {% endif %}
                                    </label>
                                </li>
                            {%- endfor -%}
                        </ul>
                    {%- endfor -%}
                {% endif %}
              {% endif %}

            {%- endif -%}
            {% if product.selling_plan_groups.size > 0 and block.settings.enable_selling_plans %}
              {%- if product.selling_plan_groups.size > 1 or product.requires_selling_plan == false -%}
                <h2 class="label">{{ 'product.form.choose_option' | t }}</h2>
                <ul class="check inline">
                  {%- unless product.requires_selling_plan -%}
                    <li>
                      <input type="radio" id="purchase_option_single-{{ section.id }}" name="selling_plan_group" value="" data-enable data-template="{{ section.id }}" form="{{ form_id }}" required>
                      <label for="purchase_option_single-{{ section.id }}">{{ 'product.one_time_purchase' | t }}</label>
                    </li>
                  {%- endunless -%}
                  {%- for group in product.selling_plan_groups -%}
                    <li>
                      <input type="radio" id="{{ group.id }}-{{ section.id }}" name="selling_plan_group" value="" data-enable="checkout-type-{{ section.id }}-{{ group.id }}" data-template="{{ section.id }}" form="{{ form_id }}" required>
                      <label for="{{ group.id }}-{{ section.id }}">{{ group.name }}</label>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- else -%}
                {%- assign default_plan = product.selling_plan_groups | first -%}
                <input type="hidden" id="{{ default_plan.id }}-{{ section.id }}" name="selling_plan_group" value="" data-enable="checkout-type-{{ section.id }}-{{ default_plan.id }}" form="{{ form_id }}" required checked>
              {%- endif -%}
              {%- for group in product.selling_plan_groups -%}
                <p class="m15 {% if product.requires_selling_plan == false or product.selling_plan_groups.size > 1 %}hidden{% endif %}" data-element="checkout-type-{{ section.id }}-{{ group.id }}">
                  <span class="label">{{ 'product.form.purchase_options_title' | t }}</span>
                  <span class="check wide">
                  {%- for plan in group.selling_plans -%}
                    {%- liquid
                      if plan.price_adjustments
                        case plan.price_adjustments.first.value_type
                          when 'percentage'
                            assign newPrice3 = current_variant.price | times: 1.0 | divided_by: 100
                            assign newPrice2 = newPrice3 | times: plan.price_adjustments.first.value
                            assign newPrice = current_variant.price | minus: newPrice2
                          when 'fixed_amount'
                            assign newPrice = current_variant.price | minus: plan.price_adjustments.first.value
                          when 'price'
                            assign newPrice = plan.price_adjustments.first.value
                        endcase
                        assign savedAmount = current_variant.price | minus: newPrice
                      endif
                    -%}
                    <span>
                      <input type="radio" id="{{ plan.id }}-{{ section.id }}" name="selling_plan" value="{{ plan.id }}" form="{{ form_id }}" {% if product.selling_plan_groups.size == 1 and product.requires_selling_plan == true %}required{% endif %}>
                      <label for="{{ plan.id }}-{{ section.id }}">{{ plan.name }}</label>
                      <span class="s1pr">
                        {% if newPrice > 0 %}
                          {% if savedAmount > 0 %}<span class="old-price">{{ current_variant.price | money }}</span>{% endif %}
                          {{ newPrice | money }}
                          {% if savedAmount > 0 %}<span class="small overlay-valid">{{ 'product.save' | t }}&nbsp;{{ savedAmount | money }}</span>{% endif %}
                        {% else %}
                          {{ current_variant.price | money }}
                        {% endif %}
                      </span>
                    </span>
                  {%- endfor -%}
                </span>
                </p>
              {%- endfor -%}
            {% endif %}
          </div>
        {%- when 'inventory' -%}
            <div class="f8pr-stock m0">
              {%- liquid
                assign next_block = forloop.index
                if section.blocks[next_block].type == 'price'
                  assign no_margin = true
                endif
              -%}
              {%- render 'product-deliverytime',
                      product: product,
                      current_variant: current_variant,
              container: "p",
                      origin: 'productpage',
                      no_margin: no_margin,
                      shopify_attributes: block.shopify_attributes
              -%}
            </div>
        {%- when 'codes' -%}
            <div class="f8pr-codes">
              {%- liquid
                if block.settings.show_sku and current_variant.sku != empty and current_variant.sku != nil
                  assign show_sku = true
                endif
                if block.settings.show_barcode and current_variant.barcode != empty and current_variant.barcode != nil
                  assign show_barcode = true
                endif
              -%}
              {%- if show_sku or show_barcode -%}
                <p {{ block.shopify_attributes }}>
                  {%- if show_sku -%}
                    <span class="strong">{{ 'product.sku' | t }}:</span> {{ current_variant.sku }}
                  {%- endif -%}
                  {%- if show_sku and show_barcode -%}<br>{%- endif -%}
                  {%- if show_barcode -%}
                    <span class="strong">{{ 'product.barcode' | t }}:</span> {{ current_variant.barcode }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            </div>
        {%- when 'price' -%}
          <p class="f8pr-price s1pr" {{ block.shopify_attributes }}>
            {%- if current_variant.compare_at_price > current_variant.price -%}
              <span class="old-price">{{ current_variant.compare_at_price | money }}</span>
            {%- endif -%}
            {{ price }}{% if block.settings.show_tax %} {% if cart.taxes_included %}{{ 'product.including_tax' | t }}{% else %}{{ 'product.excluding_tax' | t }}{% endif %}{% endif %}
            {%- if current_variant.unit_price_measurement -%}
              {%- liquid
                capture unit_price_base_unit
                  if current_variant.available and current_variant.unit_price_measurement
                    if current_variant.unit_price_measurement.reference_value != 1
                      echo current_variant.unit_price_measurement.reference_value
                    endif
                    echo current_variant.unit_price_measurement.reference_unit
                  endif
                endcapture
              -%}
              <span class="small">{{ 'product.unit_price_label' | t }}&nbsp;{{ current_variant.unit_price | money }}&nbsp;{{ 'product.unit_price_separator' | t }} {{ unit_price_base_unit }}</span>
            {%- endif -%}
          </p>
            {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
            {%- form 'product', product, id: product_form_installment_id, class: 'f8pr-product-form-installment' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                <div class="shopify-installments-container">{{ form | payment_terms }}</div>
            {%- endform -%}
        {%- when 'buy_button' -%}
            {%- liquid
                assign gift_card_recipient_feature_active = false
                if block.settings.show_gift_card_recipient and product.gift_card?
                    assign gift_card_recipient_feature_active = true
                endif
                assign show_dynamic_buybutton = false
                if block.settings.show_dynamic_buybutton and gift_card_recipient_feature_active == false
                    assign show_dynamic_buybutton = true
                endif
                if current_variant.available and current_variant.inventory_quantity <= 0 and block.settings.preorder and product.gift_card? == false
                    assign preorder = true
                    if block.settings.preorder_show_dynamic_buybutton == false
                        assign show_dynamic_buybutton = false
                    endif
                    if block.settings.preorder_label != empty
                        assign preorder_label = block.settings.preorder_label | remove: '</p>' | remove: '<p>'
                        assign preorder_label_color_palette = block.settings.preorder_label_color_palette
                        assign input_label = 'product.form.pre_order_info' | t
                        if input_label == empty
                            assign input_label = 'Delivery'
                        endif
                    endif
                endif
            -%}
            {%- form 'product', product, id: form_id, class: form_class, autocomplete: "off" -%}
                {%- if gift_card_recipient_feature_active -%}
                    {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
                {%- endif -%}
              <p class="submit m10" {{ block.shopify_attributes }}>
                {%- if block.settings.show_amount_selection -%}
                  <span class="input-amount">
                          <label for="quantity" class="hidden">{{ 'product.form.quantity' | t }}</label>
                            <input type="number" id="quantity" name="quantity" value="1"
                               min="{{ current_variant.quantity_rule.min }}"
                               {% if current_variant.inventory_management == 'shopify' and current_variant.inventory_policy == 'deny' -%}
                                   max="{{ current_variant.inventory_quantity }}"
                               {% elsif current_variant.quantity_rule.max %}
                                   max="{{ current_variant.quantity_rule.max }}"
                               {% endif %}
                               {% if current_variant.quantity_rule.step %}step="{{ current_variant.quantity_rule.step }}"{% endif %}
                               required>
                  </span>
                {%- endif -%}
                  {%- if preorder -%}
                      <button type="submit" class="preorder-button">{{ block.settings.preorder_button_text }}</button>
                  {%- elsif current_variant.available -%}
                      <button type="submit" class="overlay-tertiary">{{ 'product.form.add_to_cart' | t }}</button>
                  {%- else -%}
                      <button type="submit" class="disabled overlay-tertiary">{{ 'product.form.not_in_stock' | t }}</button>
                  {%- endif -%}
              </p>
              {%- if show_dynamic_buybutton -%}
                <div class="overlay-quaternary {{ settings.button_height }} {% unless settings.button_style == 'inv' %}{{ settings.button_style }}{% endunless %} {% unless settings.button_rounded == 'slightly-rounded' %}{{ settings.button_rounded }}{% endunless %}">
                  {{ form | payment_button }}
                </div>
              {%- endif -%}
                <ul class="f8pr-preorder l4al inline{% unless preorder and preorder_label %} m0{% endunless %}">
                    {%- if preorder and preorder_label -%}
                        <li class="{% if preorder_label_color_palette == 'regular_button' %}overlay-secondary
                            {% elsif preorder_label_color_palette == 'buy_button' %}overlay-tertiary
                            {% elsif preorder_label_color_palette == 'dynamic_buy_button' %}overlay-quaternary
                            {% else %}palette-{{ preorder_label_color_palette }}{% endif %}
                            text-center
                        ">
                            <i aria-hidden="true" class="icon-check"></i>&nbsp;{{ preorder_label }}</span>
                        </li>
                        <input class="hidden" id="{{ input_label | handleize }}" type="text" name="properties[{{ input_label }}]" value="{{ preorder_label | strip_html }}">
                    {%- endif -%}
                </ul>
            {%- endform -%}
        {%- when 'usp' -%}
          <ul class="l4ch" {{ block.shopify_attributes }}>
            {%- if block.settings.usp != empty -%}<li>{{ block.settings.usp | remove: '<p>' | remove: '</p>' }}</li>{%- endif -%}
          </ul>
        {%- when 'trustbadge' -%}
            {%- render 'trustbadge', shopify_attributes: block.shopify_attributes -%}
        {%- when 'shipping_timer' -%}
          {%- if current_variant.requires_shipping -%}
            <ul class="l4ch" {{ block.shopify_attributes }}>
              {%- render 'shipping-timer' -%}
            </ul>
          {%- endif -%}
          {%- else -%}
            {%- if block.type == 'content' -%}
              {%- liquid
                assign show = false
                if block.settings.text != empty or block.settings.page != blank or block.settings.image != blank or block.settings.liquid != blank or block.settings.html != blank or block.settings.show_contact_form
                  assign show = true
                endif
              -%}
            {%- endif -%}
            {%- if show or block.type == 'complementary_products' -%}
              {% capture block_attributes %}
                {% if block.type == 'complementary_products' %}
                  data-template="{{ section.id }}" data-product-id="{{ product.id }}" data-intent="complementary"
                  {% if recommendations.products_count == 0 and request.design_mode == false %}data-hide{% endif %}
                {%- endif -%}
              {%- endcapture -%}
              {%- capture header_img -%}
                {%- if block.settings.header_image or block.settings.header_image_svg -%}
                  {%- assign image_width = block.settings.header_image_width -%}
                  {%- assign image_width_2 = image_width | times: 2 -%}
                  <img
                          {% if block.settings.header_image_svg %}
                            src="{{ block.settings.header_image_svg }}"
                          {% elsif block.settings.header_image	%}
                            src="{{ 'placeholder-pixel.png' | asset_img_url }}"
                            data-src="{{ block.settings.header_image | image_url: width: image_width }}"
                            data-srcset="{{ block.settings.header_image | image_url: width: image_width }} 1x,{{ block.settings.header_image | image_url: width: image_width_2 }} 2x"
                          {% endif %}
                          height="20"
                          width="{{ image_width }}"
                          style="width:{{ image_width }}px!important"
                          alt="{{ block.settings.header_image.alt | default: block.settings.faq_question | escape }}"
                  >
                {%- elsif block.settings.icon != 'none' -%}
                  <img
                          src="{%- render 'icons', icon: block.settings.icon -%}"
                          width="{% if block.settings.enable_tab %}20{% else %}25{% endif %}"
                          height="{% if block.settings.enable_tab %}20{% else %}25{% endif %}"
                          alt="Icon for {{ block.settings.icon }}"
                  >
                {%- endif -%}
              {%- endcapture -%}
              {%- capture content -%}
                {%- if block.type == 'content' -%}
                  {%- if block.settings.text != empty -%}{{ block.settings.text }}{%- endif -%}
                  {%- if block.settings.page != blank -%}{{ block.settings.page.content }}{%- endif -%}
                  {%- if block.settings.image != blank -%}
                    <div class="m20">
                      <img
                              src="{{ 'placeholder-pixel.png' | asset_img_url }}"
                              data-src="{{ block.settings.image | image_url: width: block.settings.image_width }}"
                              data-srcset="{% render 'image-srcset', image: block.settings.image %}"
                              sizes="
                        (min-width: 760px) 500px
                        100vw
                        "
                              alt="{{ block.settings.image.alt | default: block.settings.title | escape }}"
                              width="{{ block.settings.image_width }}"
                              height="640">
                    </div>
                  {%- endif -%}
                    {%- if block.settings.liquid != empty -%}{{ block.settings.liquid }}{%- endif -%}
                    {%- if block.settings.html != empty -%}{{ block.settings.html }}{%- endif -%}
                    {%- if block.settings.show_contact_form -%}
                        {%- assign contactform_classes = 'f8cm f8vl w940 m30' -%}
                        {%- assign contactform_id = section.id | append: '-' | append: block.id -%}
                        {%- form 'contact', id: contactform_id, class: contactform_classes -%}
                            {%- if form.errors -%}
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        var alertAttributes = { message: "{{ 'service.contact_form.email' | t }} {{ form.errors.messages['email'] }}", type: "error", origin: "{{ contactform_id }}" },
                                            showAlertEvent = new CustomEvent("showAlert", {detail: alertAttributes});
                                        window.dispatchEvent(showAlertEvent);
                                    });
                                </script>
                            {%- elsif form.posted_successfully? -%}
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        var alertAttributes = { message: "{{ 'service.contact_form.posted_successfully' | t }}", type: "success", origin: "{{ contactform_id }}" },
                                            showAlertEvent = new CustomEvent("showAlert", {detail: alertAttributes});
                                        window.dispatchEvent(showAlertEvent);
                                    });
                                </script>
                            {%- endif -%}
                            <fieldset>
                                <legend>{{ 'service.contact_form.title' | t }}</legend>
                                <p>
                                    <label for="subject">{{ 'service.contact_form.subject' | t }}</label>
                                    <input type="text" id="subject" name="contact[subject]" placeholder="{{ 'service.contact_form.subject' | t }}">
                                </p>
                                <div class="cols">
                                    <p class="w50">
                                        <label for="name">{{ 'service.contact_form.name' | t }}</label>
                                        <input type="text" id="name" name="contact[name]" placeholder="{{ 'service.contact_form.name' | t }}">
                                    </p>
                                    <p class="w50">
                                        <label for="email">{{ 'service.contact_form.email' | t }}<span class="overlay-theme">*</span></label>
                                        <input type="email" id="email" name="contact[email]" placeholder="{{ 'service.contact_form.email' | t }}" required>
                                    </p>
                                </div>
                                <p>
                                    <label for="body">{{ 'service.contact_form.message' | t }}<span class="overlay-theme">*</span></label>
                                    <textarea id="message" name="contact[body]" placeholder="{{ 'service.contact_form.message' | t }}" required></textarea>
                                </p>
                                <p class="submit m0"><button type="submit">{{ 'service.contact_form.send' | t }}</button></p>
                            </fieldset>
                        {% endform %}
                    {%- endif -%}
                {%- elsif block.type == 'complementary_products' -%}
                    {%- liquid
                        if block.settings.layout == 'grid'
                            assign limit = block.settings.number_of_items | at_most: recommendations.products_count
                            if limit == 0
                                assign limit = block.settings.number_of_items
                            endif
                            case limit
                                when 1
                                    assign width_class = 'w100'
                                when 2
                                    assign width_class = 'w50'
                                when 3
                                    assign width_class = 'w33'
                                when 4
                                    assign width_class = 'w25'
                                when 5
                                    assign width_class = 'w20'
                            endcase
                        endif
                    -%}
                    <ul class="l4cl {% if block.settings.layout == 'list' %}hr inv{% unless block.settings.products_show_image %} no-img{% endunless %}{% else %}compact {{ width_class }}{% endif %}">
                        {%- if recommendations.performed and recommendations.products_count > 0 -%}
                            {%- for product in recommendations.products -%}
                                {%- liquid
                                    capture placeholder_int
                                        cycle 1, 2, 3, 4, 5, 6
                                    endcapture
                                -%}
                                {%- render 'product-item',
                                        product: product,
                                        placeholder_int: placeholder_int,
                                        enable_quick_buy_desktop: block.settings.enable_quick_buy_desktop,
                                        enable_quick_buy_mobile: block.settings.enable_quick_buy_mobile,
                                        enable_quick_buy_qty_selector: block.settings.enable_quick_buy_qty_selector,
                                        quick_buy_compact: block.settings.enable_quick_buy_compact,
                                        enable_quick_buy_drawer: block.settings.enable_quick_buy_drawer,
                                        layout: block.settings.layout,
                                        show_image: block.settings.products_show_image,
                                        show_vendor: block.settings.products_show_vendor,
                                        show_title: block.settings.products_show_title,
                                        show_rating: block.settings.products_show_rating,
                                        show_price: block.settings.products_show_price,
                                        show_stock: block.settings.products_show_stock,
                                        enable_color_picker: block.settings.enable_color_picker
                                -%}
                            {%- endfor -%}
                        {%- elsif request.design_mode -%}
                            {%- for product in (1..5) -%}
                                {%- liquid
                                    capture placeholder_int
                                        cycle 1, 2, 3, 4, 5
                                    endcapture
                                -%}
                                {%- render 'product-item',
                                        product: blank,
                                        placeholder_int: placeholder_int,
                                        enable_quick_buy_desktop: block.settings.enable_quick_buy_desktop,
                                        enable_quick_buy_mobile: block.settings.enable_quick_buy_mobile,
                                        enable_quick_buy_qty_selector: block.settings.enable_quick_buy_qty_selector,
                                        quick_buy_compact: block.settings.enable_quick_buy_compact,
                                        enable_quick_buy_drawer: block.settings.enable_quick_buy_drawer,
                                        layout: block.settings.layout,
                                        show_image: block.settings.products_show_image,
                                        show_vendor: block.settings.products_show_vendor,
                                        show_title: block.settings.products_show_title,
                                        show_rating: block.settings.products_show_rating,
                                        show_price: block.settings.products_show_price,
                                        show_stock: block.settings.products_show_stock
                                -%}
                            {%- endfor -%}
                        {%- endif -%}
                    </ul>
                {%- endif -%}
              {%- endcapture -%}
              {%- if block.settings.enable_tab -%}
                {%- if block.settings.title != empty -%}
                  <div class="accordion-a compact{% if block.type == 'complementary_products' %} product-recommendations{% unless request.design_mode %} hidden{% endunless %}{% endif %}" {{ block_attributes }}>
                    <details{% unless block.settings.collapse %} open{% endunless %} {{ block.shopify_attributes }}>
                      <summary>
                        {{ header_img }}<span>{{ block.settings.title }}</span>
                      </summary>
                      <div>
                        {{ content }}
                      </div>
                    </details>
                  </div>
                {%- endif -%}
              {%- else -%}
                <div {% if block.type == 'complementary_products' %}class="product-recommendations{% unless request.design_mode %} hidden{% endunless %}"{% endif %} {{ block_attributes }} {{ block.shopify_attributes }}>
                  {%- if block.settings.title != empty -%}
                    <h2 class="heading-has-image">
                      {{ header_img }}{{ block.settings.title }}
                    </h2>
                  {% endif %}
                  {{ content }}
                </div>
              {%- endif -%}
            {%- endif -%}
        {%- endcase -%}
    {%- endfor -%}
    {%- if variant_selection_block.size == 0 %}
      <input name="id" value="{{ current_variant.id }}" type="hidden" form="{{ form_id }}" class="f8pr-fallback-id-input">
    {%- endif -%}
    {%- if custom_short_description and short_description != empty -%}
      <p class="mobile-only">{{ short_description }}</p>
    {%- endif -%}
    </div>
  {% else %}

  <form accept-charset="UTF-8" class="f8pr" enctype="multipart/form-data" autocomplete="off">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'title' -%}
          {%- if forloop.first == false -%}
            {%- if title_block.settings.layout == 'title-right' -%}
              {%- if title_block.settings.layout_mobile == 'title-top' %}
                {{ header | replace: 'class-x', 'mobile-hide' }}
              {%- else -%}
                {{ header | replace: 'class-x', '' }}
              {%- endif -%}
            {%- elsif title_block.settings.layout_mobile == 'title-bottom' -%}
              {{ header | replace: 'class-x', 'mobile-only' }}
            {%- endif -%}
          {%- endif -%}
        {%- when 'price' -%}
          <p class="s1pr" {{ block.shopify_attributes }}>
            {%- if current_variant.compare_at_price > current_variant.price -%}
              <span class="old-price">{{ current_variant.compare_at_price | money }}</span>
            {%- endif -%}
            {{ price }}{% if block.settings.show_tax %} {% if cart.taxes_included %}{{ 'product.including_tax' | t }}{% else %}{{ 'product.excluding_tax' | t }}{% endif %}{% endif %}
            {%- if current_variant.unit_price_measurement -%}
              {%- liquid
                capture unit_price_base_unit
                  if current_variant.available and current_variant.unit_price_measurement
                    if current_variant.unit_price_measurement.reference_value != 1
                      echo current_variant.unit_price_measurement.reference_value
                    endif
                    echo current_variant.unit_price_measurement.reference_unit
                  endif
                endcapture
              -%}
              <span class="small">{{ 'product.unit_price_label' | t }}&nbsp;{{ current_variant.unit_price | money }}&nbsp;{{ 'product.unit_price_separator' | t }} {{ unit_price_base_unit }}</span>
            {%- endif -%}
          </p>
        {%- when 'buy_button' -%}
          <p class="submit m10" {{ block.shopify_attributes }}>
            {%- if block.settings.show_amount_selection -%}
              <span class="input-amount">
                        <label for="quantity" class="hidden">{{ 'product.form.quantity' | t }}</label>
                        <input type="number" id="quantity" name="quantity" value="1" {% if current_variant.inventory_management == 'shopify' and current_variant.inventory_policy == 'deny' -%}max="{{ current_variant.inventory_quantity }}"{% endif %} required>
                      </span>
            {%- endif -%}
            {%- if current_variant.available -%}
              <button type="submit" class="overlay-tertiary">{{ 'product.form.add_to_cart' | t }}</button>
            {%- else -%}
              <button type="submit" class="disabled overlay-tertiary">{{ 'product.form.not_in_stock' | t }}</button>
            {%- endif -%}
          </p>
        {%- when 'usp' -%}
          <ul class="l4ch" {{ block.shopify_attributes }}>
            {%- if block.settings.usp != empty -%}<li>{{ block.settings.usp | remove: '<p>' | remove: '</p>' }}</li>{%- endif -%}
          </ul>
      {%- endcase -%}
    {%- endfor -%}
  </form>


    {% endif %}

  </div>
</article>

<style>
  #shopify-section-{{ section.id }} .m6pr { margin-bottom: {{ section.settings.spacing_desktop | minus: 23 }}px; }
  @media only screen and (max-width: 47.5em) {
    #shopify-section-{{ section.id }} .m6pr { margin-bottom: {{ section.settings.spacing_mobile | minus: 20 }}px; }
  }
</style>

{% schema %}
{
  "name": "t:sections.featured_product.name",
  "disabled_on": {
    "templates": [
      "gift_card",
      "password"
    ],
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured_product.settings.product.label"
    },
    {
      "type": "header",
      "content": "t:main.product.settings.thumbs.header"
    },
    {
      "type": "checkbox",
      "id": "show_thumbs_desktop",
      "label": "t:main.product.settings.thumbs.show_thumbs_desktop.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_thumbs_mobile",
      "label": "t:main.product.settings.thumbs.show_thumbs_mobile.label",
      "default": true
    },
    {
      "type": "select",
      "id": "images_layout",
      "label": "t:main.product.settings.thumbs.images_layout.label",
      "options": [
        {
          "value": "aside",
          "label": "t:main.product.settings.thumbs.images_layout.options__1.label"
        },
        {
          "value": "bottom",
          "label": "t:main.product.settings.thumbs.images_layout.options__2.label"
        }
      ],
      "default": "aside"
    },
    {
      "type": "header",
      "content": "t:main.product.settings.product_description.header"
    },
    {
      "id": "show_product_description",
      "type": "checkbox",
      "label": "t:main.product.settings.product_description.show_product_description.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:main.product.settings.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:main.product.settings.spacing.spacing_desktop.label",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:main.product.settings.spacing.spacing_mobile.label",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "spacer",
      "name": "t:main.product.blocks.spacer.name",
      "settings": [
        {
          "id": "height",
          "type": "range",
          "label": "t:main.product.blocks.spacer.settings.height.label",
          "min": 0,
          "max": 200,
          "step": 5,
          "unit": "px",
          "default": 15
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:main.product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:main.product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:main.product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "custom_html",
      "name": "t:main.product.blocks.custom_html.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_html",
          "label": "t:main.product.blocks.custom_html.settings.custom_html.label",
          "info": "t:main.product.blocks.custom_html.settings.custom_html.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:main.product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "layout",
          "label": "t:main.product.blocks.title.settings.layout.label",
          "info": "t:main.product.blocks.title.settings.layout.info",
          "options": [
            {
              "value": "title-top",
              "label": "t:main.product.blocks.title.settings.layout.options__1.label"
            },
            {
              "value": "title-right",
              "label": "t:main.product.blocks.title.settings.layout.options__2.label"
            }
          ],
          "default": "title-top"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "t:main.product.blocks.title.settings.title_size.label",
          "options": [
            {
              "value": "h3",
              "label": "t:main.product.blocks.title.settings.title_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:main.product.blocks.title.settings.title_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:main.product.blocks.title.settings.title_size.options__3.label"
            },
            {
              "value": "size-50",
              "label": "t:main.product.blocks.title.settings.title_size.options__4.label"
            }
          ],
          "default": "h1"
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.title.settings.vendor.header"
        },
        {
          "id": "show_vendor_brand",
          "type": "checkbox",
          "label": "t:main.product.blocks.title.settings.vendor.show_vendor_brand.label",
          "default": true
        },
        {
          "id": "show_vendor_name",
          "type": "checkbox",
          "label": "t:main.product.blocks.title.settings.vendor.show_vendor_name.label",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "t:main.product.blocks.title.settings.vendor.paragraph"
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.title.settings.product_rating.header"
        },
        {
          "id": "show_product_rating",
          "type": "checkbox",
          "label": "t:main.product.blocks.title.settings.product_rating.show_product_rating.label",
          "info": "t:main.product.blocks.title.settings.product_rating.show_product_rating.info",
          "default": true
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.title.settings.share_buttons.header"
        },
        {
          "id": "share_whatsapp",
          "type": "checkbox",
          "label": "t:main.product.blocks.title.settings.share_buttons.share_whatsapp.label",
          "default": true
        },
        {
          "id": "share_facebook",
          "type": "checkbox",
          "label": "t:main.product.blocks.title.settings.share_buttons.share_facebook.label",
          "default": true
        },
        {
          "id": "share_twitter",
          "type": "checkbox",
          "label": "t:main.product.blocks.title.settings.share_buttons.share_twitter.label",
          "default": true
        },
        {
          "id": "share_pinterest",
          "type": "checkbox",
          "label": "t:main.product.blocks.title.settings.share_buttons.share_pinterest.label",
          "default": true
        },
        {
          "id": "share_messenger",
          "type": "checkbox",
          "label": "t:main.product.blocks.title.settings.share_buttons.share_messenger.label",
          "default": true
        },
        {
          "id": "share_email",
          "type": "checkbox",
          "label": "t:main.product.blocks.title.settings.share_buttons.share_email.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.title.settings.mobile.header"
        },
        {
          "type": "select",
          "id": "layout_mobile",
          "label": "t:main.product.blocks.title.settings.mobile.layout_mobile.label",
          "info": "t:main.product.blocks.title.settings.mobile.layout_mobile.info",
          "options": [
            {
              "value": "title-top",
              "label": "t:main.product.blocks.title.settings.mobile.layout_mobile.options__1.label"
            },
            {
              "value": "title-bottom",
              "label": "t:main.product.blocks.title.settings.mobile.layout_mobile.options__2.label"
            }
          ],
          "default": "title-top"
        }
      ]
    },
    {
      "type": "short_description",
      "name": "t:main.product.blocks.short_description.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:main.product.blocks.short_description.settings.paragraph"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:main.product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "id": "show_tax",
          "type": "checkbox",
          "label": "t:main.product.blocks.price.settings.show_tax.label",
          "default": false
        }
      ]
    },
    {
      "type": "codes",
      "name": "t:main.product.blocks.codes.name",
      "limit": 1,
      "settings": [
        {
          "id": "show_sku",
          "type": "checkbox",
          "label": "t:main.product.blocks.codes.settings.show_sku.label",
          "default": true
        },
        {
          "id": "show_barcode",
          "type": "checkbox",
          "label": "t:main.product.blocks.codes.settings.show_barcode.label",
          "default": true
        }
      ]
    },
    {
      "type": "inventory",
      "name": "t:main.product.blocks.inventory.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:main.product.blocks.inventory.settings.paragraph"
        }
      ]
    },
    {
      "type": "variant_selection",
      "name": "t:main.product.blocks.variant_selection.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "selection_type",
          "label": "t:main.product.blocks.variant_selection.settings.selection_type.label",
          "options": [
            {
              "value": "dropdown",
              "label": "t:main.product.blocks.variant_selection.settings.selection_type.options__1.label"
            },
            {
              "value": "buttons",
              "label": "t:main.product.blocks.variant_selection.settings.selection_type.options__2.label"
            }
          ],
          "default": "dropdown"
        },
        {
          "type": "checkbox",
          "id": "options",
          "label": "t:main.product.blocks.variant_selection.settings.options.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_variant_images",
          "label": "t:main.product.blocks.variant_selection.settings.show_variant_images.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_unavailable_variants",
          "label": "t:main.product.blocks.variant_selection.settings.show_unavailable_variants.label",
          "info": "t:main.product.blocks.variant_selection.settings.show_unavailable_variants.info",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_selling_plans",
          "label": "t:main.product.blocks.variant_selection.settings.enable_selling_plans.label",
          "info": "t:main.product.blocks.variant_selection.settings.enable_selling_plans.info",
          "default": true
        }
      ]
    },
    {
      "type": "usp",
      "name": "t:main.product.blocks.usp.name",
      "settings": [
        {
          "id": "usp",
          "type": "richtext",
          "label": "t:main.product.blocks.usp.settings.usp.label",
          "default": "<p>Tell a unique detail about this product</p>"
        }
      ]
    },
    {
      "type": "trustbadge",
      "name": "t:main.product.blocks.trustbadge.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:main.product.blocks.trustbadge.settings.paragraph"
        }
      ]
    },
    {
      "type": "shipping_timer",
      "name": "t:main.product.blocks.shipping_timer.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:main.product.blocks.shipping_timer.settings.paragraph"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:main.product.blocks.content.name",
      "settings": [
        {
          "id": "enable_tab",
          "type": "checkbox",
          "label": "t:main.product.blocks.content.settings.enable_tab.label",
          "default": true
        },
        {
          "id": "collapse",
          "type": "checkbox",
          "label": "t:main.product.blocks.content.settings.collapse.label",
          "default": true
        },
        {
          "id": "title",
          "type": "text",
          "label": "t:main.product.blocks.content.settings.title.label"
        },
        {
          "id": "icon",
          "type": "select",
          "label": "t:main.product.blocks.content.settings.icon.label",
          "info": "t:main.product.blocks.content.settings.icon.info",
          "options": [
            {
              "value": "none",
              "label": "t:main.product.blocks.content.settings.icon.options__1.label"
            },
            {
              "value": "group",
              "label": "t:main.product.blocks.content.settings.icon.options__2.label"
            },
            {
              "value": "notification",
              "label": "t:main.product.blocks.content.settings.icon.options__3.label"
            },
            {
              "value": "cloud_data",
              "label": "t:main.product.blocks.content.settings.icon.options__4.label"
            },
            {
              "value": "verified",
              "label": "t:main.product.blocks.content.settings.icon.options__5.label"
            },
            {
              "value": "truck",
              "label": "t:main.product.blocks.content.settings.icon.options__6.label"
            },
            {
              "value": "image_placeholder",
              "label": "t:main.product.blocks.content.settings.icon.options__7.label"
            },
            {
              "value": "help_call",
              "label": "t:main.product.blocks.content.settings.icon.options__8.label"
            },
            {
              "value": "filters",
              "label": "t:main.product.blocks.content.settings.icon.options__9.label"
            },
            {
              "value": "shopping_bag",
              "label": "t:main.product.blocks.content.settings.icon.options__10.label"
            },
            {
              "value": "global_shipping",
              "label": "t:main.product.blocks.content.settings.icon.options__11.label"
            },
            {
              "value": "barcode",
              "label": "t:main.product.blocks.content.settings.icon.options__12.label"
            },
            {
              "value": "delivery_box_1",
              "label": "t:main.product.blocks.content.settings.icon.options__13.label"
            },
            {
              "value": "delivery_box_2",
              "label": "t:main.product.blocks.content.settings.icon.options__14.label"
            },
            {
              "value": "statistic",
              "label": "t:main.product.blocks.content.settings.icon.options__15.label"
            },
            {
              "value": "review",
              "label": "t:main.product.blocks.content.settings.icon.options__16.label"
            },
            {
              "value": "email",
              "label": "t:main.product.blocks.content.settings.icon.options__17.label"
            },
            {
              "value": "coin",
              "label": "t:main.product.blocks.content.settings.icon.options__18.label"
            },
            {
              "value": "24_hour_clock",
              "label": "t:main.product.blocks.content.settings.icon.options__19.label"
            },
            {
              "value": "question",
              "label": "t:main.product.blocks.content.settings.icon.options__20.label"
            },
            {
              "value": "24_7_call",
              "label": "t:main.product.blocks.content.settings.icon.options__21.label"
            },
            {
              "value": "speech_bubbles",
              "label": "t:main.product.blocks.content.settings.icon.options__22.label"
            },
            {
              "value": "coupon",
              "label": "t:main.product.blocks.content.settings.icon.options__23.label"
            },
            {
              "value": "mobile_payment",
              "label": "t:main.product.blocks.content.settings.icon.options__24.label"
            },
            {
              "value": "calculator",
              "label": "t:main.product.blocks.content.settings.icon.options__25.label"
            },
            {
              "value": "secure",
              "label": "t:main.product.blocks.content.settings.icon.options__26.label"
            }
          ],
          "default": "none"
        },
        {
          "id": "header_image",
          "type": "image_picker",
          "label": "t:main.product.blocks.content.settings.header_image.label",
          "info": "t:main.product.blocks.content.settings.header_image.info"
        },
        {
          "id": "header_image_svg",
          "type": "url",
          "label": "t:main.product.blocks.content.settings.header_image_svg.label",
          "info": "t:main.product.blocks.content.settings.header_image_svg.info"
        },
        {
          "id": "header_image_width",
          "type": "range",
          "label": "t:main.product.blocks.content.settings.header_image_width.label",
          "min": 20,
          "max": 150,
          "step": 5,
          "unit": "px",
          "default": 25
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.content.settings.content.header"
        },
        {
          "type": "paragraph",
          "content": "t:main.product.blocks.content.settings.content.paragraph"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "t:main.product.blocks.content.settings.content.text.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:main.product.blocks.content.settings.content.page.label"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:main.product.blocks.content.settings.content.image.label"
        },
        {
          "id": "image_width",
          "type": "range",
          "label": "t:main.product.blocks.content.settings.content.image_width.label",
          "min": 10,
          "max": 465,
          "step": 5,
          "unit": "px",
          "default": 465
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.content.settings.custom_code.header"
        },
        {
          "id": "liquid",
          "type": "liquid",
          "label": "t:main.product.blocks.content.settings.custom_code.liquid.label"
        },
        {
          "id": "html",
          "type": "html",
          "label": "t:main.product.blocks.content.settings.custom_code.html.label"
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.content.settings.form.header"
        },
        {
          "id": "show_contact_form",
          "type": "checkbox",
          "label": "t:main.product.blocks.content.settings.form.show_contact_form.label",
          "info": "t:main.product.blocks.content.settings.form.show_contact_form.info"
        }
      ]
    },
    {
      "type": "complementary_products",
      "name": "t:main.product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:main.product.blocks.complementary_products.settings.paragraph"
        },
        {
          "id": "enable_tab",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.enable_tab.label",
          "default": true
        },
        {
          "id": "collapse",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.collapse.label",
          "default": true
        },
        {
          "id": "title",
          "type": "text",
          "label": "t:main.product.blocks.complementary_products.settings.title.label",
          "default": "Pairs well with"
        },
        {
          "id": "icon",
          "type": "select",
          "label": "t:main.product.blocks.complementary_products.settings.icon.label",
          "info": "t:main.product.blocks.complementary_products.settings.icon.info",
          "options": [
            {
              "value": "none",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__1.label"
            },
            {
              "value": "group",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__2.label"
            },
            {
              "value": "notification",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__3.label"
            },
            {
              "value": "cloud_data",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__4.label"
            },
            {
              "value": "verified",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__5.label"
            },
            {
              "value": "truck",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__6.label"
            },
            {
              "value": "image_placeholder",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__7.label"
            },
            {
              "value": "help_call",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__8.label"
            },
            {
              "value": "filters",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__9.label"
            },
            {
              "value": "shopping_bag",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__10.label"
            },
            {
              "value": "global_shipping",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__11.label"
            },
            {
              "value": "barcode",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__12.label"
            },
            {
              "value": "delivery_box_1",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__13.label"
            },
            {
              "value": "delivery_box_2",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__14.label"
            },
            {
              "value": "statistic",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__15.label"
            },
            {
              "value": "review",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__16.label"
            },
            {
              "value": "email",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__17.label"
            },
            {
              "value": "coin",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__18.label"
            },
            {
              "value": "24_hour_clock",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__19.label"
            },
            {
              "value": "question",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__20.label"
            },
            {
              "value": "24_7_call",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__21.label"
            },
            {
              "value": "speech_bubbles",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__22.label"
            },
            {
              "value": "coupon",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__23.label"
            },
            {
              "value": "mobile_payment",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__24.label"
            },
            {
              "value": "calculator",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__25.label"
            },
            {
              "value": "secure",
              "label": "t:main.product.blocks.complementary_products.settings.icon.options__26.label"
            }
          ],
          "default": "none"
        },
        {
          "id": "header_image",
          "type": "image_picker",
          "label": "t:main.product.blocks.complementary_products.settings.header_image.label",
          "info": "t:main.product.blocks.complementary_products.settings.header_image.info"
        },
        {
          "id": "header_image_svg",
          "type": "url",
          "label": "t:main.product.blocks.complementary_products.settings.header_image_svg.label",
          "info": "t:main.product.blocks.complementary_products.settings.header_image_svg.info"
        },
        {
          "id": "header_image_width",
          "type": "range",
          "label": "t:main.product.blocks.complementary_products.settings.header_image_width.label",
          "min": 20,
          "max": 150,
          "step": 5,
          "unit": "px",
          "default": 25
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.complementary_products.settings.products.header"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "t:main.product.blocks.complementary_products.settings.products.layout.label",
          "options": [
            {
              "value": "grid",
              "label": "t:main.product.blocks.complementary_products.settings.products.layout.options__1.label"
            },
            {
              "value": "list",
              "label": "t:main.product.blocks.complementary_products.settings.products.layout.options__2.label"
            }
          ],
          "default": "grid"
        },
        {
          "id": "number_of_items",
          "type": "range",
          "label": "t:main.product.blocks.complementary_products.settings.products.number_of_items.label",
          "info": "t:main.product.blocks.complementary_products.settings.products.number_of_items.info",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 3
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.complementary_products.settings.quick_buy.header"
        },
        {
          "type": "paragraph",
          "content": "t:main.product.blocks.complementary_products.settings.quick_buy.paragraph"
        },
        {
          "id": "enable_quick_buy_desktop",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.quick_buy.enable_quick_buy_desktop.label",
          "default": true
        },
        {
          "id": "enable_quick_buy_mobile",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.quick_buy.enable_quick_buy_mobile.label",
          "default": true
        },
        {
          "id": "enable_quick_buy_drawer",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.quick_buy.enable_quick_buy_drawer.label",
          "info": "t:main.product.blocks.complementary_products.settings.quick_buy.enable_quick_buy_drawer.info",
          "default": true
        },
        {
          "id": "enable_quick_buy_qty_selector",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.quick_buy.enable_quick_buy_qty_selector.label",
          "info": "t:main.product.blocks.complementary_products.settings.quick_buy.enable_quick_buy_qty_selector.info",
          "default": true
        },
        {
          "id": "enable_color_picker",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.quick_buy.enable_color_picker.label"
        },
        {
          "id": "enable_quick_buy_compact",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.quick_buy.enable_quick_buy_compact.label",
          "info": "t:main.product.blocks.complementary_products.settings.quick_buy.enable_quick_buy_compact.info",
          "default": true
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.complementary_products.settings.products_layout.header"
        },
        {
          "type": "paragraph",
          "content": "t:main.product.blocks.complementary_products.settings.products_layout.paragraph"
        },
        {
          "id": "products_show_image",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.products_layout.products_show_image.label",
          "default": true
        },
        {
          "id": "products_show_labels",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.products_layout.products_show_labels.label"
        },
        {
          "id": "products_show_vendor",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.products_layout.products_show_vendor.label"
        },
        {
          "id": "products_show_title",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.products_layout.products_show_title.label",
          "default": true
        },
        {
          "id": "products_show_rating",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.products_layout.products_show_rating.label"
        },
        {
          "id": "products_show_price",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.products_layout.products_show_price.label",
          "default": true
        },
        {
          "id": "products_show_stock",
          "type": "checkbox",
          "label": "t:main.product.blocks.complementary_products.settings.products_layout.products_show_stock.label"
        }
      ]
    },
    {
      "type": "buy_button",
      "name": "t:main.product.blocks.buy_button.name",
      "limit": 1,
      "settings": [
        {
          "id": "show_amount_selection",
          "type": "checkbox",
          "label": "t:main.product.blocks.buy_button.settings.show_amount_selection.label",
          "default": true
        },
        {
          "id": "show_dynamic_buybutton",
          "type": "checkbox",
          "label": "t:main.product.blocks.buy_button.settings.show_dynamic_buybutton.label",
          "info": "t:main.product.blocks.buy_button.settings.show_dynamic_buybutton.info",
          "default": false
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.buy_button.settings.preorder.header"
        },
        {
          "id": "preorder",
          "type": "checkbox",
          "label": "t:main.product.blocks.buy_button.settings.preorder.preorder.label",
          "info": "t:main.product.blocks.buy_button.settings.preorder.preorder.info",
          "default": false
        },
        {
          "id": "preorder_button_text",
          "type": "text",
          "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_button_text.label",
          "default": "Pre-order"
        },
        {
          "id": "preorder_label",
          "type": "richtext",
          "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_label.label",
          "info": "t:main.product.blocks.buy_button.settings.preorder.preorder_label.info"
        },
        {
          "type": "select",
          "id": "preorder_label_color_palette",
          "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_label_color_palette.label",
          "options": [
            {
              "value": "white",
              "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_label_color_palette.options__1.label"
            },
            {
              "value": "black",
              "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_label_color_palette.options__2.label"
            },
            {
              "value": "light",
              "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_label_color_palette.options__3.label"
            },
            {
              "value": "dark",
              "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_label_color_palette.options__4.label"
            },
            {
              "value": "accent",
              "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_label_color_palette.options__5.label"
            },
            {
              "value": "light_2",
              "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_label_color_palette.options__6.label"
            },
            {
              "value": "regular_button",
              "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_label_color_palette.options__7.label"
            },
            {
              "value": "buy_button",
              "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_label_color_palette.options__8.label"
            },
            {
              "value": "dynamic_buy_button",
              "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_label_color_palette.options__9.label"
            }
          ],
          "default": "light_2"
        },
        {
          "id": "preorder_show_dynamic_buybutton",
          "type": "checkbox",
          "label": "t:main.product.blocks.buy_button.settings.preorder.preorder_show_dynamic_buybutton.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:main.product.blocks.buy_button.settings.gift_card.header"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": false,
          "label": "t:main.product.blocks.buy_button.settings.gift_card.show_gift_card_recipient.label",
          "info": "t:main.product.blocks.buy_button.settings.gift_card.show_gift_card_recipient.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_product.presets.name",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "short_description"
        },
        {
          "type": "variant_selection"
        },
        {
          "type": "inventory"
        },
        {
          "type": "price"
        },
        {
          "type": "buy_button"
        },
        {
          "type": "spacer"
        },
        {
          "type": "usp"
        },
        {
          "type": "usp"
        },
        {
          "type": "usp"
        },
        {
          "type": "shipping_timer"
        }
      ]
    }
  ]
}
{% endschema %}
