{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% liquid
  assign title_block = section.blocks | where: "type", "title" | first

  assign color_palette_handle = 'palette_' | append: section.settings.color_palette
  assign color_palette = settings[color_palette_handle] | upcase
  assign background_color = settings.body_background_color | upcase
  if color_palette != background_color
    assign overlay = true
  endif
-%}

<article class="palette-{{ section.settings.color_palette }}
  {% if overlay %}
    overlay
    no-border
  {% endif %}
  module-color-palette
  m6as
  {{ section.settings.text_position }}
  {% if section.settings.layout == 'image-right' %}inv{% endif %}
  ">
  <figure {% unless section.settings.image %}class="no-img"{% endunless %}>
    <span class="img-overlay" style="opacity:{{ section.settings.overlay_opacity | divided_by: 100.0 }}"></span>
    {%- if section.settings.image -%}
        <picture>
          <img
            src="{{ 'placeholder-pixel.png' | asset_img_url }}"
            data-src="{{ section.settings.image | image_url: width: 100, height: 100, width: 640 }}"
            data-srcset="{% render 'image-srcset', image: section.settings.image %}"
            sizes="
              (min-width: 1300px) calc({% if settings.body_width == 'boxed' %}1280px{% else %}100vw{% endif %} / 2),
              100vw
            "
            width="640"
            height="530"
            alt="{{ section.settings.image.alt | default: section.settings.title | escape }}"
          >
        </picture>
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </figure>
  <div {% if title_block.settings.title_size == 'size-50' %}class="size-18 mobile-size-14"{% endif %}>
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'spacer' -%}
          <div class="module-spacer" style="margin-bottom:{{ block.settings.height }}px;" {{ block.shopify_attributes }}></div>
        {% when 'title' -%}
          {% if block.settings.title != empty %}
          {%- liquid
            if block.settings.title_size == 'size-50'
              assign title_classes = block.settings.title_size | append: ' mobile-size-' | append: settings.mobile_font_size | remove: 'px'
              assign title_size = 'h1'
            else
              assign title_classes = false
              assign title_size = block.settings.title_size
            endif
          -%}
            <{{ title_size }} class="m20 {{ title_classes }}" {{ block.shopify_attributes }}>{{ block.settings.title }}</{{ title_size }}>
          {% endif %}
        {% when 'text' -%}
          {% if block.settings.text != empty %}<span {{ block.shopify_attributes }}>{{ block.settings.text }}<span>{% endif %}
        {% when 'usp' -%}
          <ul class="l4ch" {{ block.shopify_attributes }}>
            {%- if block.settings.usp != empty -%}<li>{{ block.settings.usp | remove: '<p>' | remove: '</p>' }}</li>{%- endif -%}
          </ul>
        {% when 'buttons' -%}
          {%- liquid
            if block.settings.link_text_1 != empty and block.settings.link_url_1 != blank
              assign show_buttons = true
            endif
            if block.settings.link_text_2 != empty and block.settings.link_url_2 != blank
              assign show_buttons = true
            endif
          -%}
          {%- if show_buttons -%}
            <p {% unless block.settings.show_link %}class="link-btn"{% endunless %} {{ block.shopify_attributes }}>
              {%- if block.settings.link_text_1 != empty and block.settings.link_url_1 != blank -%}
                <a href="{{ block.settings.link_url_1 }}" class="{% if block.settings.show_link %}strong{% endif %} button-palette-{{ block.settings.button_color_palette_1 }}">{{ block.settings.link_text_1 }}&nbsp;<i aria-hidden="true" class="icon-chevron-right{% unless block.settings.show_link %}mobile-only{% endunless %}"></i></a>
              {%- endif %}
              {%- if block.settings.link_text_2 != empty and block.settings.link_url_2 != blank -%}
                <a href="{{ block.settings.link_url_2 }}" class="{% if block.settings.show_link %}strong{% endif %} button-palette-{{ block.settings.button_color_palette_2 }}">{{ block.settings.link_text_2 }}&nbsp;<i aria-hidden="true" class="icon-chevron-right{% unless block.settings.show_link %}mobile-only{% endunless %}"></i></a>
              {%- endif %}
            </p>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</article>

<style>
  #shopify-section-{{ section.id }} .m6as { margin-bottom: {{ section.settings.spacing_desktop | minus: 26 }}px; }
  @media only screen and (max-width: 47.5em) {
    #shopify-section-{{ section.id }} .m6as { margin-bottom: {{ section.settings.spacing_mobile | minus: 20 }}px; }
  }
</style>

{% schema %}
{
  "name": "t:sections.image_with_text.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "t:sections.image_with_text.settings.image.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:sections.image_with_text.settings.overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 0
    },
    {
      "type": "select",
      "id": "color_palette",
      "label": "t:sections.image_with_text.settings.color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:sections.image_with_text.settings.color_palette.options__1.label"
        },
        {
          "value": "black",
          "label": "t:sections.image_with_text.settings.color_palette.options__2.label"
        },
        {
          "value": "light",
          "label": "t:sections.image_with_text.settings.color_palette.options__3.label"
        },
        {
          "value": "dark",
          "label": "t:sections.image_with_text.settings.color_palette.options__4.label"
        },
        {
          "value": "accent",
          "label": "t:sections.image_with_text.settings.color_palette.options__5.label"
        },
        {
          "value": "light_2",
          "label": "t:sections.image_with_text.settings.color_palette.options__6.label"
        },
        {
          "value": "light_gradient",
          "label": "t:sections.image_with_text.settings.color_palette.options__7.label"
        },
        {
          "value": "dark_gradient",
          "label": "t:sections.image_with_text.settings.color_palette.options__8.label"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.image_with_text.settings.layout.label",
      "options": [
        {
          "value": "image-left",
          "label": "t:sections.image_with_text.settings.layout.options__1.label"
        },
        {
          "value": "image-right",
          "label": "t:sections.image_with_text.settings.layout.options__2.label"
        }
      ],
      "default": "image-left"
    },
    {
      "id": "text_position",
      "type": "select",
      "label": "t:sections.image_with_text.settings.text_position.label",
      "options": [
        {
          "value": "align-top text-start",
          "label": "t:sections.image_with_text.settings.text_position.options__1.label"
        },
        {
          "value": "align-top text-center",
          "label": "t:sections.image_with_text.settings.text_position.options__2.label"
        },
        {
          "value": "align-top text-end",
          "label": "t:sections.image_with_text.settings.text_position.options__3.label"
        },
        {
          "value": "text-start",
          "label": "t:sections.image_with_text.settings.text_position.options__4.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.image_with_text.settings.text_position.options__5.label"
        },
        {
          "value": "text-end",
          "label": "t:sections.image_with_text.settings.text_position.options__6.label"
        },
        {
          "value": "align-bottom text-start",
          "label": "t:sections.image_with_text.settings.text_position.options__7.label"
        },
        {
          "value": "align-bottom text-center",
          "label": "t:sections.image_with_text.settings.text_position.options__8.label"
        },
        {
          "value": "align-bottom text-end",
          "label": "t:sections.image_with_text.settings.text_position.options__9.label"
        }
      ],
      "default": "text-start"
    },
    {
      "type": "paragraph",
      "content": "t:sections.image_with_text.settings.paragraph"
    },
    {
      "type": "header",
      "content": "t:sections.image_with_text.settings.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:sections.image_with_text.settings.spacing.spacing_desktop.label",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:sections.image_with_text.settings.spacing.spacing_mobile.label",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "spacer",
      "name": "t:sections.image_with_text.blocks.spacer.name",
      "settings": [
        {
          "id": "height",
          "type": "range",
          "label": "t:sections.image_with_text.blocks.spacer.settings.height.label",
          "min": -50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "default": 20
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.image_with_text.blocks.title.name",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "t:sections.image_with_text.blocks.title.settings.title.label",
          "default": "Image with text"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "t:sections.image_with_text.blocks.title.settings.title_size.label",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.image_with_text.blocks.title.settings.title_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.image_with_text.blocks.title.settings.title_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.image_with_text.blocks.title.settings.title_size.options__3.label"
            },
            {
              "value": "size-50",
              "label": "t:sections.image_with_text.blocks.title.settings.title_size.options__4.label"
            }
          ],
          "default": "h1"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image_with_text.blocks.text.name",
      "settings": [
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.image_with_text.blocks.text.settings.text.label",
          "default": "<p>Pair text with an image and tell your customers something about this product, collection, blogpost or a promotion.</p>"
        }
      ]
    },
    {
      "type": "usp",
      "name": "t:sections.image_with_text.blocks.usp.name",
      "settings": [
        {
          "id": "usp",
          "type": "richtext",
          "label": "t:sections.image_with_text.blocks.usp.settings.usp.label",
          "default": "<p>Tell a unique detail about this image</p>"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image_with_text.blocks.buttons.name",
      "settings": [
        {
          "id": "link_text_1",
          "type": "text",
          "label": "t:sections.image_with_text.blocks.buttons.settings.link_text_1.label",
          "default": "Button"
        },
        {
          "id": "link_url_1",
          "type": "url",
          "label": "t:sections.image_with_text.blocks.buttons.settings.link_url_1.label",
          "default": "/"
        },
        {
          "type": "select",
          "id": "button_color_palette_1",
          "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_1.label",
          "options": [
            {
              "value": "white",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_1.options__1.label"
            },
            {
              "value": "black",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_1.options__2.label"
            },
            {
              "value": "light",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_1.options__3.label"
            },
            {
              "value": "dark",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_1.options__4.label"
            },
            {
              "value": "accent",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_1.options__5.label"
            },
            {
              "value": "light_2",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_1.options__6.label"
            }
          ],
          "default": "accent"
        },
        {
          "id": "link_text_2",
          "type": "text",
          "label": "t:sections.image_with_text.blocks.buttons.settings.link_text_2.label",
          "info": "t:sections.image_with_text.blocks.buttons.settings.link_text_2.info"
        },
        {
          "id": "link_url_2",
          "type": "url",
          "label": "t:sections.image_with_text.blocks.buttons.settings.link_url_2.label"
        },
        {
          "type": "select",
          "id": "button_color_palette_2",
          "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_2.label",
          "options": [
            {
              "value": "white",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_2.options__1.label"
            },
            {
              "value": "black",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_2.options__2.label"
            },
            {
              "value": "light",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_2.options__3.label"
            },
            {
              "value": "dark",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_2.options__4.label"
            },
            {
              "value": "accent",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_2.options__5.label"
            },
            {
              "value": "light_2",
              "label": "t:sections.image_with_text.blocks.buttons.settings.button_color_palette_2.options__6.label"
            }
          ],
          "default": "light"
        },
        {
          "id": "show_link",
          "type": "checkbox",
          "label": "t:sections.image_with_text.blocks.buttons.settings.show_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_with_text.presets.name",
      "settings": {
      },
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "text"
        },
        {
          "type": "usp"
        },
        {
          "type": "usp"
        },
        {
          "type": "usp"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
